.widgest {
	position: sticky;
	top: 80px;
	height: fit-content;
	flex: 0.2;
	background-color: white;
	border-radius: 10px;
	border: 1px solid lightgray;
	padding-bottom: 10px;

}
.widgest__header > h2{
	font-size: 16px;
	font-weight: 400;
}
.widgest__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
}
.widgest__article{
  display: flex;
  padding: 10px;
  cursor: pointer;
}
.widgest__article:hover{
	background-color: whitesmoke;
}
.widgest__articlesLeft {
	color: #0177b7;
	margin-right: 5px;
}
.widgest__articlesLeft > .MuiSvgIcon-root{
	font-size: 15px;
}
.widgest__articlesRight{
	flex: 1;
}
.widgest__articlesRight > h4{
	font-size: 14px;
}
.widgest__articlesRight > p {
	font-size: 12px;
	color: gray;
}